body{
	margin: 0px;
	overflow: hidden;
	--nav_height: 10vw;

}
@media screen and (min-width: 500px) {
	body{
		--nav_height: 50px
	}
}

#paralax_frame{
	overflow-x: scroll;
	overflow-y: hidden;
	height: calc(100vh - var(--nav_height));
}
#paralax_frame::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#paralax_frame {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	height: calc(100% - var(--nav_height));
	perspective: 1px;
	perspective-origin: top;
}


.container{
	display: flex;
	height: calc(100% - var(--nav_height));
}
.frame{
	width: 100vw;
	height: 100%;
	outline: 1px solid red;
	flex-shrink: 0;
}
