@media screen and (min-width: 769px) {
	#animation{
		--anim-frame-h: calc(100vh - var(--nav_height));
		height: var(--anim-frame-h);
		justify-content: center;
	}
	#animation>div{
		height: var(--anim-frame-h);
		max-height: 50vw;
	}
	#animation>div>*{
		position: absolute;
		height: min(50vw, var(--anim-frame-h));
		width: min(50vw, var(--anim-frame-h));
		outline: 1px solid red;
	}
	article#events{
		opacity: 0;
	}
	article#news{
		transform: translate(calc(115vw - 2 * min(50vw, var(--anim-frame-h))));
	}
	#anim{
		transform: translate(calc(110vw - min(50vw, var(--anim-frame-h))));
	}
}