body{
	margin: 0px;
	overflow: hidden;
}
#paralax_frame{
	overflow-x: scroll;
	overflow-y: hidden;
	height: calc(100vh - var(--nav_height));
}
#paralax_frame::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#paralax_frame {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	height: calc(100% - var(--nav_height));
	perspective: 1px;
	perspective-origin: top;
}
@media screen and (min-width: 769px) {
	#paralax_frame{
		overflow-x: hidden;
		overflow-y: scroll;
	}
	#paralax_frame {
		-ms-overflow-style: initial;  /* IE and Edge */
		scrollbar-width: initial;  /* Firefox */
	}
	#paralax_frame::-webkit-scrollbar {
		display: initial;
	}
}




