@media screen and (min-width: 769px) {
	#animation{
		--anim-frame-h: calc(100vh - var(--nav_height));
		--anim-size: min(50vw, var(--anim-frame-h));
		height: var(--anim-frame-h);
		justify-content: center;
	}
	#animation>div{
		height: var(--anim-frame-h);
		max-height: 50vw;
		transform: translate(calc(100vw - var(--anim-size) * 1.8));
		transition: transform 1s cubic-bezier(1,0,0,1);;
	}
	#animation.events>div{
		transform: translate(calc(var(--anim-size) * -1));
	}
	#animation>div>*{
		position: absolute;
		height: var(--anim-size);
		width: var(--anim-size);
	}

	#anim{
		transform: translate(calc(var(--anim-size) * .90));
	}
	#events{
		transform: translate(calc(var(--anim-size) * 1.8));
	}
}