@media screen and (min-width: 769px) {
	#animation{
		--anim-frame-h: calc(100vh - var(--nav_height));
		--anim-size: min(50vw, var(--anim-frame-h));
		height: var(--anim-frame-h);
		justify-content: center;
	}
	#animation>div{
		height: var(--anim-frame-h);
		max-height: 50vw;
	}
	#animation>div>*{
		position: absolute;
		height: var(--anim-size);
		width: var(--anim-size);
		outline: 1px solid red;
	}
	#events{
		transform: translate(100vw);
	}
	#news{
		outline-color: purple;
		transform: translate(calc(100vw - 2 * var(--anim-size)* .85));
	}
	#anim{
		transform: translate(calc(100vw - var(--anim-size) * .80));
	}

}